<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
      <add key="CadenaConexion" value="server=.\sqlexpress;initial catalog=Punto_De_Venta;user=sa;password=.a123456"/>
  </appSettings>
</configuration>
